---
import "../styles/global.css";
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Badge from '../components/Badge.astro';
---


<MainLayout>
	<section class="w-full lg:w-[740px] mx-auto py-44 
	">
		<main>
			 <img 
				class="rounded-full w-12 h-12 mb-5"
				src="assets/167711553.webp" 
				alt="Foto de Renan Salazar"
			/>
			<h1 class="text-4xl font-bold flex flex-row gap-x-4 mb-7">
				Hey, soy Renan Salazar 
				<a href="https://www.linkedin.com/in/renansalazar/" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-1xl opacity-90">Desarrollador Web con más de 15 años de experiencia en el desarrollo web. De Venezuela. </h2>
		</main>
	</section>
</MainLayout>