---

---

<header class="flex justify-center items-center py-3 w-full mx-auto">

    <nav class="flex flex-row gap-x-10 opacity-90 text-sm text-white">
        <a href="/">Inicio</a>
        <a href="#expeciencia">Expeciencia</a>
        <a href="#acerca-de-mi">Acerca de mi</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>